*.mp4
*.png
*.jpg
*.txt
*.avi
*.pb
*.pbtxt
mAP/Modelos*Testados
Object-detection/model/
Object-detection/log/
.ipynb_checkpoints/
mAP/.ipynb_checkpoints
Object-detection/outputs/
Object-detection/inputs/
mAP/images/
/.vscode
mAP/results/images/
Visual Analysis/output/

!filter_ppn.png
!FPS_erro.png
!table_results.png